$min-photo-width: 25;
$max-photo-width-above-min: 20;

.photo-container {
  max-width: 50%;
  max-height: 50%;
}

.photo {
  width: 100%;
}

$photos: 16;
$rotation: random(2);

@for $i from 0 through $photos {
  .photo-container:nth-child(#{$i + 1}) {
    transform: rotate($rotation + deg);
    width: percentage(random($min-photo-width) / 100) + $max-photo-width-above-min;
    margin-left: percentage(random(20) / 100) + 0.2;
  }
  @if $i % 2 == 0 {
    $rotation: $rotation * -1;
  }
  @else {
    $rotation: random(3);
  }
}
