$min-photo-width: 15;
$max-photo-width-above-min: 30;
$random-width: percentage(random($min-photo-width) / 100);

.photo-container {
  max-width: 50%;
  max-height: 50%;
  width: $random-width + $max-photo-width-above-min;
}

.photo {
  width: 100%;
}
